footer {
    background-color: $color-7;
}

.footer {
    padding: 36px 0 36px 0;
    @include betvin;
    @include for-phone {
        flex-direction: column;
        align-items: center
    }
}

.footer-menu {
    @include center;
    column-gap: 58px;
    @include for-phone {
        flex-direction: column;
        row-gap: 41px;
    }
}

.footer__menu__ul {
    @include center;
    @include for-phone {
        flex-direction: column;
        row-gap: 16px;
    }
    column-gap: 32px;
    &__li {
        &__a {
            @include Space-mono-p;
        }
    }
}

.foter__img {
    @include center;
    column-gap: 32px;
    @include for-phone {
        padding-top: 87px;
    }
}